

.background{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Evening_sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}

.header > ul{
    display: flex;
    justify-content: space-evenly;
    min-height: 60px;
    background-color: blue;
}

.header > ul > li{
    display: flex;
    height: 100%;
    transition-duration: 0.5s;
    width: 100%;
}

.header > ul > li > a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header > ul > li:hover{
    background-color: #2690d4;

}


.contactFormContainer{
    box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    padding: 30px;
}


.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
}

p{
    margin: 20px 0;
}

.formContainer > label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px 0;
}

.formYourName{
    width: 47%;
}

.formYourEmail{
    width: 97.7%;
}

.formPhone{
    width: 29.8%;
}

.multiselect{
    width: 99.6%;
    height: 2em;
}

#massageForm{
    width: 79%;
}

.inputContainer{
    display: inline-block;
    width: 80%;
}

.inputContainer input + input{
    margin-left: 10px;
}

.submitButton{
    width: 80%;
    height: 1.5em;
    float: right;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20%;
}

.lineContainer{
    height: 0;
    width: 100%;
    border: 0.2px solid white;
}

input{
    height: 1.5em;
    width: 100%;
}


@media screen and (max-width: 768px){

    .header > ul{
        flex-wrap: wrap;
    }



    .inputContainer input + input {
        margin-left: 0;
    }

  input{
        display: inline-block;
        width: 100%;
    }
}