
.background {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Evening_sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}

.contactFormContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.75);
    padding: 30px;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textContainer {
    min-width: 15%;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    margin: 20px 0;
}

.multiselect {
    width: 100%;
    display: flex;
    height: 2em;
}

.inputContainer {
    width: 100%;
    display: flex;
}

.childYourName {
    width: 100%;
    display: flex;
    flex: auto;
}

.textareaContainer{
    width: 100%;
    display: flex;

}

.childYourName > input {
    display: flex;
    flex-grow: inherit;

}

.childYourName input + input {
    margin-left: 15px;
}

.childPhone {
    width: 100%;
    display: flex;
   flex: auto;
}

.formPhone{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}

.childPhone input + input{
    margin-left: 15px;
}

.childYourEmail{
    display: flex;

    width: 100%;

}

.childYourEmail > input{
   display: flex;
    flex-grow: 1;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submitButton {
    display: flex;
    justify-content: center;
    height: 2em;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

input {
    height: 2em;
}

@media screen and (max-width: 768px) {


    .inputContainer input + input {
        margin-left: 0;
    }

    input {
        display: inline-block;
        width: 100%;
    }
}