body{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../image/Veranda11.jpg");
    background-repeat: no-repeat;
}

.headerNavBar{
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    align-items: center;
    font-weight: bold;
}

.headerNavBar > h1 {
    margin-left: 60px;
    font-family: 'Comic Neue', cursive;
    font-size: 1.3em;
}

.navBar{
    min-width: 320px;
    display: flex;
    justify-content: space-evenly;
}

.navBar > li {
    list-style-type: none;

}

.imageBody{
    min-width: 320px;
}

.buttonNavBar{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    font-weight: bold;

}

@media screen and (max-width: 768px){

    .headerNavBar{
        min-height: 200px;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;

    }

    .buttonNavBar{
        margin-left: 35px;
    }

    .imageBody{
        object-fit: none;
        max-height: 300px;
    }

    .headerNavBar > h1{
        margin-left: 35px;
    }
}
