

body{
    min-height: 730px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Evening_sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}

.contactFormContainer{
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
    padding: 30px;
}



.formContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
}

p{
    margin: 20px 0;
}

.formContainer > label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px 0;
}

.formYourName{
    width: 47%;
}

.formYourEmail{
    width: 97.7%;
}

.formPhone{
    width: 29.8%;
}

.multiselect{
    width: 99.6%;
    height: 2em;
}

#massageForm{
    width: 79%;
}

.inputContainer{
    display: inline-block;
    width: 80%;
}

.inputContainer input + input{
    margin-left: 10px;
}

.submitButton{
    width: 80%;
    height: 1.5em;
    float: right;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

input{
    height: 1.5em;
}